:root {
  --lg-bg-color: rgba(255, 255, 255, 0.15);
  --lg-highlight: rgba(255, 255, 255, 0.55);
  --lg-text: #ffffff;
}

.glass-container {
  position: relative;
  display: flex;
  font-weight: 600;
  color: var(--lg-text);
  background: transparent;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.2);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.glass-container--large {
  min-width: 32rem;
}

.player {
  display: flex;
  align-items: center;
  width: 100%;
  flex: 1 1 auto;
  justify-content: space-between;
}

.player__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
}

.player__img {
  width: 5rem;
  height: auto;
  margin: 0.25rem 0;
  border-radius: 0.5rem;
}

.player__legend {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

.player__legend__title {
  font-size: 1.1rem;
  margin: 0;
  color: #fff;
  text-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.player__legend__sub-title {
  font-size: 0.9rem;
  margin: 0;
  opacity: 0.8;
  color: #ddd;
  text-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.player__controls {
  margin-right: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #fff;
}

.player__controls__play {
  margin-right: 1rem;
  display: flex;
}

.player__controls__ff {
  display: flex;
}

/* ========== GLASS LAYERS ========== */
.glass-filter {
  position: absolute;
  inset: 0;
  z-index: 0;
  backdrop-filter: blur(0px); /* required to trigger filter on backdrop in some browsers */
  filter: url(#lg-dist);
  isolation: isolate;
}

.glass-overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: var(--lg-bg-color);
}

.glass-specular {
  position: absolute;
  inset: 0;
  z-index: 2;
  border-radius: inherit;
  overflow: hidden;
  box-shadow: inset 1px 1px 0 var(--lg-highlight),
    inset 0 0 5px var(--lg-highlight);
}

.glass-content {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 1rem 1.5rem 0.9rem;
}

.glass-content--inline {
  padding: 0.5rem 2rem 0.5rem 0.75rem;
  flex: 1 1 auto;
  justify-content: space-between;
}
